/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #404040;
  color: #fdfdfd;
  border-radius: 8!important;
}

.hljs-tag,
.hljs-selector-tag,
.hljs-keyword {
  color: #F92672;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #00BCD4;
}

.hljs-variable,
.hljs-attribute,
.hljs-template-variable {
  color: #00CCFF;
}

.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string {
  color: #FFFF00;
}
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type {
  color: #FD971F;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #63ff5b;
}
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-template-tag,

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #666666;
}

.hljs-keyword {
  color:#63ff5b;
}
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  color: #AE81FF;
  font-weight: bold;
}
